# Build and Release Folders
bin/
bin-debug/
bin-release/
DB/
obj/


# Other files and folders
.settings/
*.lock

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

116416166.jpg

389578749.jpg

sn.txt

images/ 