{template "content","header"}
<link href="{CSS_PATH}xczs/list.css" rel="stylesheet" type="text/css" />

{pc:content  action="lists" catid="38" order="listorder DESC"  num="1" return="info"}
{loop $info $r}
<div class="bg100 ba-case" style="background:url({$r[thumb]}) center no-repeat">
{/loop}
{/pc}

      <div class="main">
      {pc:content action="category" catid="7" num="5" siteid="$siteid" order="listorder ASC"}
      <div class="ba-case-l">
         <ul>
          <li class="tital">公司团队</li>
          {loop $data $v}
          <li{if $catid==$v[catid]} class="on"{/if}><a href="{$v[url]}">{$v[catname]}</a></li>
          {/loop}
         </ul>
         <div class="crumbs">当前位置：<a href="{siteurl($siteid)}">首页</a><span> &gt; </span>{catpos($catid)} 列表</div>
      </div>
      {/pc}

          {pc:content  action="lists" catid="38" order="listorder DESC"  num="1" return="info"}
          {loop $info $r}
          <a href="{if !$r[islink]==0}{$r[url]}{/if}" target="_blank" class="ba-case-a">{$r[title]}</a>
          {/loop}
          {/pc}

      </div>
</div>

<div class="main list">
    <div class="col-left l">
        {pc:content action="lists" catid="$catid" num="10" order="listorder DESC" page="$page"}
        <ul class="list-td">
            {loop $data $r}
            {php $td++}
            <li class="box{if $td%5==0} mr0{/if}">
                          <a href="{$r[url]}" title="{$r[title]}-{$r[zhiwu]}" target="_blank"><img src="{thumb($r[thumb],200,250)}" width="180" height="225" alt="{$r[title]}" class="tx"></a>
                          <div class="wz">
                              <a href="tencent://message/?uin={$r[QQ]}&Site=&Menu=yes" title="QQ咨询设计"><span class="qq inbg">QQ咨询</span></a>
                              <p><a href="{$r[url]}" title="{$r[title]}-{$r[zhiwu]}" target="_blank">{$r[title]}<br><em>{$r[zhiwu]}</em></a></p>
                          </div>
            </li>
            {/loop}
        </ul>
        <div class="c"></div>
        <div id="pages" class="text-c">{$pages}</div>
        {/pc}
    </div>
    <div class="col-right r">
        <div class="pad25">
          <h3 class="t2 top">设计师排行榜 TOP</h3>
          <ul class="phb">
              {pc:content action="hits" catid="25" num="5" order="views DESC"}
              {loop $data $r}
              {php $phb++}
              {php $db = pc_base::load_model('hits_model'); $_r = $db->get_one(array('hitsid'=>'c-'.$modelid.'-'.$r[id])); $views = $_r[views]; } 
              {php $comment_tag = pc_base::load_app_class("comment_tag", "comment"); $comment_total = $comment_tag->count(array('commentid'=>'content_'.$r[catid].'-'.$r[id].'-'.$modelid));} 
              <li class=phb{$phb}><a href="{$r[url]}" title="{$r[title]}" target="_blank"><img src="{thumb($r[thumb],80,80)}" alt="{$r[title]}" width="80" height="80"><p><b>{str_cut($r[title],40)}</b><br>{$r[zhiwu]}<br>关注：{$views}</p></a></li>
              {/loop}
              {/pc}
          </ul>
          <p class="jrwm"><a href="{$CATEGORYS[4][url]}" target="_blank">加入我们</a></p>
        </div>
    </div>
    <div class="c"></div>
</div>
{template "content","footer"}