{template "content","header"}
<link href="{CSS_PATH}xczs/list.css" rel="stylesheet" type="text/css" />

{pc:content  action="lists" catid="41" order="listorder DESC"  num="1" return="info"}
{loop $info $r}
<div class="bg100 ba-case" style="background:url({$r[thumb]}) center no-repeat">
{/loop}
{/pc}

      <div class="main">
      {pc:content action="category" catid="10" num="5" siteid="$siteid" order="listorder ASC"}
      <div class="ba-case-l">
         <ul>
          <li class="tital">帮助中心</li>
          {loop $data $v}
          <li{if $catid==$v[catid]} class="on"{/if}><a href="{$v[url]}">{$v[catname]}</a></li>
          {/loop}
         </ul>
         <div class="crumbs">当前位置：<a href="{siteurl($siteid)}">首页</a><span> &gt; </span>{catpos($catid)} 列表</div>
      </div>
      {/pc}

          {pc:content  action="lists" catid="41" order="listorder DESC"  num="1" return="info"}
          {loop $info $r}
          <a href="{if !$r[islink]==0}{$r[url]}{/if}" target="_blank" class="ba-case-a">{$r[title]}</a>
          {/loop}
          {/pc}

      </div>
      <div class="c"></div>
</div>


<div class="main list">
    <div class="col-left l">
        {pc:content action="lists" catid="$catid" num="12" order="listorder DESC" page="$page"}
        <ul class="list-gc">
            {loop $data $r}
            <li><a href="{$r[url]}" title="{$r[title]}">{if !$r[thumb]}{else}<img src="{thumb($r[thumb],150,102)}" alt="{$r[title]}" width="150" height="102">{/if}<p><b>{$r[title]}</b><span>{$r[description]}</span><br><i>[ 心成装饰 - {$CATEGORYS[$r[catid]][catname]}]</i><i>更新时间：{date('Y-m-d H:i:s',$r[updatetime])} </i></p></a></li>
            {/loop}
        </ul>
        <div class="c"></div>
        <div id="pages" class="text-c" style="margin-top:20px">{$pages}</div>
        {/pc}
    </div>
    <div class="col-right r">
        <div class="pad25">
          <h3 class="t2">样板案例视频</h3>
          <ul class="sp">
              {pc:content action="lists" catid="31" num="2" order="listorder DESC"}
              {loop $data $r}
              <li><a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],180,118)}" alt="{$r[title]}" width="180" height="118"><p>{str_cut($r[title],40)}</p></a></li>
              {/loop}
              {/pc}
          </ul>
          <h3 class="t2">装修指南</h3>
          <ul class="sp">
              {pc:content action="lists" catid="16" num="2" thumb="1" order="id DESC"}
              {loop $data $r}
              <li><a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],180,118)}" alt="{$r[title]}" width="180" height="118"><p>{str_cut($r[title],40)}</p></a></li>
              {/loop}
              {/pc}
          </ul>
        </div>
    </div>
    <div class="c"></div>
</div>

{template "content","footer"}